PyQt6
pyautogui
SpeechRecognition
pyaudio
numpy
playsound==1.2.2
pyttsx3
psutil
pygame
requests
pydub
gtts
pycaw
edge-tts
pymysql
bcrypt
cryptography
wmi
screen_brightness_control
bs4
youtube_search
wikipedia
keyboard